@page
@model KooliProjekt.Views.Home.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Hello world !!!! </a>.</p>

    <a asp-page="/Authors/Index">Authors</a>
    <a href="/Authors">All Speakers</a>
</div>
